# Notes from Python for Finance Cookbook

In [ ]:
print("Python Investment Aid")

## Data Gathering

In [21]:
import pandas as pd
import yfinance as yf
from datetime import date
import numpy as np

today = date.today().strftime("%Y-%m-%d")
start_date = date.today().replace(year=date.today().year-6)

print("today ",today)
print("start", start_date)


def init_ticker(name):
    return yf.Ticker(name)


stock = init_ticker("MSFT")
stock.history(period="1mo")

today  2023-07-23
start 2017-07-23

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-06-22 00:00:00-04:00,334.119995,340.119995,333.339996,339.709991,23556800,0.0,0.0
2023-06-23 00:00:00-04:00,334.359985,337.959991,333.450012,335.019989,23084700,0.0,0.0
2023-06-26 00:00:00-04:00,333.720001,336.109985,328.489990,328.600006,21520600,0.0,0.0
2023-06-27 00:00:00-04:00,331.859985,336.149994,329.299988,334.570007,24354100,0.0,0.0
2023-06-28 00:00:00-04:00,334.660004,337.980011,333.809998,335.850006,20259500,0.0,0.0
2023-06-29 00:00:00-04:00,334.709991,336.109985,332.619995,335.049988,16997000,0.0,0.0
2023-06-30 00:00:00-04:00,337.750000,342.730011,337.200012,340.540009,26823800,0.0,0.0
2023-07-03 00:00:00-04:00,339.190002,340.899994,336.570007,337.989990,12508700,0.0,0.0
2023-07-05 00:00:00-04:00,335.089996,341.649994,334.730011,338.149994,18172400,0.0,0.0
2023-07-06 00:00:00-04:00,337.299988,342.989990,335.500000,341.269989,28161200,0.0,0.0
2023-07-07 00:00:00-04:00,339.320007,341.790009,337.000000,337.220001,21185300,0.0,0.0
2023-07-10 00:00:00-04:00,334.600006,335.230011,327.589996,331.829987,32791400,0.0,0.0
2023-07-11 00:00:00-04:00,331.059998,332.859985,327.000000,332.470001,26698200,0.0,0.0
2023-07-12 00:00:00-04:00,336.600006,341.649994,335.670013,337.200012,29995300,0.0,0.0
2023-07-13 00:00:00-04:00,339.559998,343.739990,339.019989,342.660004,20567200,0.0,0.0
2023-07-14 00:00:00-04:00,347.589996,351.429993,344.309998,345.239990,28302200,0.0,0.0
2023-07-17 00:00:00-04:00,345.679993,346.989990,342.200012,345.730011,20363900,0.0,0.0
2023-07-18 00:00:00-04:00,345.829987,366.779999,342.170013,359.489990,64872700,0.0,0.0
2023-07-19 00:00:00-04:00,361.750000,362.459991,352.440002,355.079987,39732900,0.0,0.0
2023-07-20 00:00:00-04:00,353.570007,357.970001,345.369995,346.869995,33778400,0.0,0.0
2023-07-21 00:00:00-04:00,349.149994,350.299988,339.829987,343.769989,69368900,0.0,0.0

Simple returns formula

$R_{t} = \left (P_{t} - P_{t-1}\right )/P_{t-1} = P_{t}/P_{t-1} -1$

Log returns formula

$r_{t} = log\left( P_{t}/P_{t-1}\right ) = log(P_{t}) - log(P_{t-1})$

In [26]:
df = yf.download("AAPL",
                 start="2022-01-01",
                 end="2022-12-31",
                 progress=False)
df = df.loc[:, ["Adj Close"]]

df["simple_rtn"] = df["Adj Close"].pct_change()

df["log_rtn"] = np.log(df["Adj Close"]/df["Adj Close"].shift(1))

df.head()

             Adj Close  simple_rtn   log_rtn
Date
2022-01-03  180.434296         NaN       NaN
2022-01-04  178.144287   -0.012692 -0.012773
2022-01-05  173.405685   -0.026600 -0.026960
2022-01-06  170.510956   -0.016693 -0.016834
2022-01-07  170.679504    0.000988  0.000988

Inflation calculation 


${R{r}}^{t} = \frac{1+R{t}}{1+\pi{t}} - 1$


${R{r}}^{t}$ = real returns

$R{t}$ = simple returns over t period

$\pi{t}$ = inflation rate

In [27]:
import nasdaqdatalink 

nasdaqdatalink.ApiConfig.api_key = "suGGpeYc6UVYmhK3vDyK"

df = df.resample("M").last()

df_cpi = (
    nasdaqdatalink.get(dataset="RATEINF/CPI_USA",
                       start_date="2022-01-01",
                       end_date="2022-12-31")
    .rename(columns={"Value": "cpi"})
)

df_cpi
df = df.join(df_cpi, how="left")
df["simple_rtn"] = df["Adj Close"].pct_change()
df["inflation_rate"] = df["cpi"].pct_change()


df["real_rtn"] = (
    (df["simple_rtn"] + 1) / (df["inflation_rate"] + 1) - 1
) 

df.head()

,Adj Close,simple_rtn,log_rtn,cpi,inflation_rate,real_rtn
Date,,,,,,
2022-01-31,173.266876,NaN,0.025790,281.148,NaN,NaN
2022-02-28,163.899078,-0.054066,0.001637,283.716,0.009134,-0.062628
2022-03-31,173.318909,0.057473,-0.017936,287.504,0.013351,0.043541
2022-04-30,156.484299,-0.097131,-0.037292,289.109,0.005583,-0.102143
2022-05-31,147.956528,-0.054496,-0.005360,292.296,0.011024,-0.064805