In [1]:
print("FRED Data")

FRED Data

In [8]:
import pyfredapi as pf 

series = "GDP"
df = pf.series.get_series(series_id=series)
df.dropna(inplace=True)

df.tail(36)

    realtime_start realtime_end       date      value
279     2024-12-19   2024-12-19 2015-10-01  18435.137
280     2024-12-19   2024-12-19 2016-01-01  18525.933
281     2024-12-19   2024-12-19 2016-04-01  18711.702
282     2024-12-19   2024-12-19 2016-07-01  18892.639
283     2024-12-19   2024-12-19 2016-10-01  19089.379
284     2024-12-19   2024-12-19 2017-01-01  19280.084
285     2024-12-19   2024-12-19 2017-04-01  19438.643
286     2024-12-19   2024-12-19 2017-07-01  19692.595
287     2024-12-19   2024-12-19 2017-10-01  20037.088
288     2024-12-19   2024-12-19 2018-01-01  20328.553
289     2024-12-19   2024-12-19 2018-04-01  20580.912
290     2024-12-19   2024-12-19 2018-07-01  20798.730
291     2024-12-19   2024-12-19 2018-10-01  20917.867
292     2024-12-19   2024-12-19 2019-01-01  21111.600
293     2024-12-19   2024-12-19 2019-04-01  21397.938
294     2024-12-19   2024-12-19 2019-07-01  21717.171
295     2024-12-19   2024-12-19 2019-10-01  21933.217
296     2024-12-19   2024-12-19 2020-01-01  21727.657
297     2024-12-19   2024-12-19 2020-04-01  19935.444
298     2024-12-19   2024-12-19 2020-07-01  21684.551
299     2024-12-19   2024-12-19 2020-10-01  22068.767
300     2024-12-19   2024-12-19 2021-01-01  22656.793
301     2024-12-19   2024-12-19 2021-04-01  23368.861
302     2024-12-19   2024-12-19 2021-07-01  23921.991
303     2024-12-19   2024-12-19 2021-10-01  24777.038
304     2024-12-19   2024-12-19 2022-01-01  25215.491
305     2024-12-19   2024-12-19 2022-04-01  25805.791
306     2024-12-19   2024-12-19 2022-07-01  26272.011
307     2024-12-19   2024-12-19 2022-10-01  26734.277
308     2024-12-19   2024-12-19 2023-01-01  27164.359
309     2024-12-19   2024-12-19 2023-04-01  27453.815
310     2024-12-19   2024-12-19 2023-07-01  27967.697
311     2024-12-19   2024-12-19 2023-10-01  28296.967
312     2024-12-19   2024-12-19 2024-01-01  28624.069
313     2024-12-19   2024-12-19 2024-04-01  29016.714
314     2024-12-19   2024-12-19 2024-07-01  29374.914

In [10]:
df['value'].iloc[-5]

27967.697